body{
    font-family: Arial, Helvetica, sans-serif;
}

.chat-container{
    color: #F5F5F5;
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100vh;
    background-color: #424242;
    box-sizing: border-box;
    gap: 10px;
    padding: 30px;
}

.chat-container .bubble-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chat-container .bubble-container.left{
    width: 50%;
    margin-right: auto;
}

.chat-container .bubble-container.right{
    width: 50%;
    margin-left: auto;
    align-items: flex-end;
}

.chat-container .bubble-container .bubble .bubble-text{
    color: #F5F5F5;
}

.chat-container .bubble-container.right .bubble .bubble-text > div{
    position: relative;
    background-color: #229799;
}

.chat-container .bubble-container.left .bubble .bubble-text > div{
    position: relative;
    background-color: #114849;
    display: inline-flex;
}

.chat-container .bubble-container .bubble .bubble-text > div{
    padding: 8px;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.chat-container .bubble-container .bubble .bubble-text .bubble-info{
    font-size: 12px;
    color: #F5F5F5;
    padding: 0 10px;
    text-align: right;
    width: 100px;
    min-width: 80px;
    max-width: 80px;
    box-sizing: border-box;
}

.chat-container .bubble-container.bubble-container.left .bubble:nth-child(1) .bubble-text > div::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-right: solid 5px #114849;
    border-top: solid 5px #114849;
    border-left: solid 5px transparent;
    border-bottom: solid 5px transparent;
    left: -9px;
    top: 0;
}

.chat-container .bubble-container.bubble-container.right .bubble:nth-child(1) .bubble-text > div::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: solid 5px #229799;
    border-top: solid 5px #229799;
    border-right: solid 5px transparent;
    border-bottom: solid 5px transparent;
    right: -6px;
    top: 0;
}